{% extends 'crud/base.html' %}
{% block content %}

<!-- Start left -->
<div id="element">
<div class="split left">
  <div class="centered">
    <h2 style="margin-left:50px;">X-CRM</h2>
    <!-- Full Screen -->
	      <button id="go-button" style="width:200px;background:red;" class="btnx">Enable Full Screen</button>
        <button style="margin-top:5px;width:200px;" class="btnx"><i class="fa fa-home"></i> Dashboard</button><br>
        <button style="margin-top:5px;width:200px;" class="btnx"><i class="fa fa-bars"></i> Customers</button><br>
        <button style="margin-top:5px;width:200px;" class="btnx"><i class="fa fa-trash"></i> Transaction</button><br>
        <button style="margin-top:5px;width:200px;" class="btnx"><i class="fa fa-close"></i> Sales</button><br>
        <button style="margin-top:5px;width:200px;" class="btnx"><i class="fa fa-folder"></i> Task</button>
        <button style="margin-top:5px;width:200px;" class="btnx"><i class="fa fa-home"></i> Accounting</button><br>
        <button style="margin-top:5px;width:200px;" class="btnx"><i class="fa fa-bars"></i> Report</button><br>
        <button style="margin-top:5px;width:200px;" class="btnx"><i class="fa fa-trash"></i> Recruitment</button><br>
        <button style="margin-top:5px;width:200px;" class="btnx"><i class="fa fa-close"></i> Stock</button><br>
        <button style="margin-top:5px;width:200px;" class="btnx"><i class="fa fa-folder"></i> Payroll</button>
 <!-- End Full Screen-->
  </div>
</div>
<!-- End Left -->

<!-- Start right -->
<div class="split right">
  <div class="centered">

<!-- Chat Box strat-->
<button class="open-button" onclick="openForm()">Chat</button>
    <div class="chat-popup" id="myForm">
      <form action="/action_page.php" class="form-container">
        <h1>Chat</h1>
        <label for="msg"><b>Message</b></label>
        <textarea placeholder="Type message.." name="msg" required></textarea>
        <button type="submit" class="btn">Send</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
  <script>
      function openForm() {
        document.getElementById("myForm").style.display = "block";
        }
      function closeForm() {
        document.getElementById("myForm").style.display = "none";
        }
  </script>
<!-- Chat Box End-->

<div class="container-fluid">         
 <div class="row">
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div  class="col-md-10 col-xs-10 col-sm-10">
    <h3 class="round3" style="text-align:center;">Customer Relationship Management</h3>
  </div>
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
  
  <!-- Search Engin -->
  <form class="form-inline my-2 my-lg-0" style="margin-left:110px;">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <!-- End Search Engin -->
 
 </div>
 <div class="row">
  <div class="col-md-10 col-xs-10 col-sm-10"></div>
  <div class="col-md-2 col-xs-1 col-sm-1">
   <br/>
            <a href="{% url 'post' %}">
              <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </a>
  </div>
 </div>
 <br/>
 {% for post in post_list %}
  <div class="row"> 
   <div class="col-md-1 col-xs-1 col-sm-1"></div> 
   <div class="col-md-7 col-xs-7 col-sm-7">
    <ul class="list-group">
     
       <li class="list-group-item ">
     <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>  <span class="badge"></span>
    </li> 
     </ul>
    <br>
   </div>
   <div class="col-md-1 col-xs-1 col-sm-1">
    <a href="{% url 'detail' post.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-open"></span>
     </button>
    </a>
   </div>
   <div class="col-md-1">
    <a href="{% url 'edit' post.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-pencil"></span>
     </button>
    </a>
   </div>
   <div class="col-md-1">
    <a href="{% url 'delete' post.pk %}">
     <button type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash"></span>
     </button>
    </a>
   </div>
   <div class="col-md-1 col-xs-1 col-sm-1"></div>
  </div>
 {% endfor %}
 
      </div>
    </div>
  </div>
</div>
{% endblock %}
